$main-green: #1FA181;
$light-white: #F6F6F6;
$hover-green: #00D29F;
$green-text-color: #364844;
$carousel-back: #e2f0ef;
$arrow-color: #e1e1e1;
$gray-text-color: #868686;
$white: #fff;
$black: #000;
$light-gray: #f8fbfa;
$secondary-green: #0dbc91;
$dark-green-color: #08664f;