<div class="wrap carousel">
  <div class="b-carousel js-carousel">
    <div class="arrow-block">
      <button class="b-carousel__prev js-carousel__prev">
        <svg>
          <use xlink:href="img/sprites/left_arrow.svg#left"></use>
        </svg>
      </button>
      <span class="js-carousel__counter">1/4</span>
      <button class="b-carousel__next js-carousel__next">
        <svg>
          <use xlink:href="img/sprites/right-arrow.svg#right"></use>
        </svg>
      </button>
    </div>
    <div class="b-carousel__wrap js-carousel__wrap"></div>
  </div>
</div>