@media (max-width: 767px) {
    .header {
        .navBar {
            display: none;
        }
    }

    .menu-content, .footer {
        .navBar {
            display: flex;
            flex-direction: column;
            color: $white;

            a {
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 768px) {
    .navBar {
        display: flex;
        width: 100%;
        max-width: 1140px;
        margin: auto;
        color: $white;
    }

    .header {
        .navBar-bg {
            display: flex;
            height: 43px;
            background-color: $main-green;

            a {
                margin-right: 30px;
                cursor: pointer;
            }
        }
    }

    .navBar-bg {
        a {
            margin-right: 30px;
            cursor: pointer;
        }
    }
}