@font-face {
  font-family: 'PT Sans Caption - Regular';
  src: url('../../fonts/PT_Sans-Caption-Web-Regular.woff2') format('woff2'),
  url('../../fonts/PT_Sans-Caption-Web-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Caption - Bold';
  src: url('../../fonts/PT_Sans-Caption-Web-Bold.woff2') format('woff2'),
  url('../../fonts/PT_Sans-Caption-Web-Bold.woff') format('woff');
}